%h1 New Message

= turbo_frame_tag 'new_message', target: '_top' do
  = simple_form_for [@room, @message],
    data: { controller: 'reset_form', action: 'turbo:submit-end->reset_form#reset' } do |f|
    = f.error_notification
    = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

    .form-inputs
      = f.input :content, as: :string

    .form-actions
      = f.button :submit

= link_to 'Back', room_path(@room)
